.prices input {
display: none;
}

.prices label {
width: 50px;
height: 50px;
}

.prices label.before:before{
content: '\f155';
font-family: fontAwesome;
position: relative;
display: block;
font-size: 50px;
}

.prices label.after:before{
content: '\f155';
font-family: fontAwesome;
position: relative;
display: block;
font-size: 50px;
color: gold;
}

.api{
margin: 1%;
}

.api h1{
display: block;
}

.api img{
margin-top: 30%;
}

.api .address{
font-size: 1em;
}
.api .prices {
margin-top: -32%;
margin-right: 18%;
}

.api Button {
margin-top: 29%;
margin-left: 30%;
}


@media (min-width:425px) {



.api img{
grid-column: 2;
margin: 0 4%;
height: 300px;
width: 300px;
}

.api .prices{
margin:0 7%;
margin-top: -10%;
}

.api h1{
margin: 5%;
grid-row: 1;
grid-column: 1;
font-size: 50px;
}

.api .address{
margin-left: 5%;
grid-column: 1;
grid-row:  2;
}

.api Button {
margin: 5%;
}
}