* {
	box-sizing: border-box;
}

.main-page {
  padding: 0;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
}


.main-header {
  height: 550px;
  background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/65e6a224ada4/assets/img/home/hero_photos/cz8iYo13MpBBGlFLlkA8Sw.jpg);
  background-size: cover;
  background-position: center center;
}

.main-header__wrapper {
  position: relative;
  width: 960px;
  min-height: 300px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

.main-nav {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 0;
}

.main-nav .main-list {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline;
  padding-right: 5px;
  font-weight: bold;
}

.main-nav .main-list__link:link {
  font-size: 1rem;
  line-height: 0.9rem;
  color: #fff;
  text-decoration: none;
  padding: 12px 11px 9px 11px;
}

.main-nav .main-list__link:hover {
  border-bottom: 2px solid #fff;
}

.search {
  width: 960px;
  font-size: 0;
  line-height: normal;
  margin-bottom: 10px;
}

.show-more-wrapper {
  display: block;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 95px;
}

.show-more {
  width: 300px;
  margin: 0 auto;
}

.show-more a {
  font-size: 14px;
  color: #0073bb;
  text-decoration: none;
}

.show-more a:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 9px;
  margin-right: 10px;
  background-image: url(https://s17.postimg.org/65f1h7i9r/arrow_dn.png);
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: center;
  padding-bottom: 1px;
}

.show-more a:hover {
  text-decoration: underline;
  color: #0073bb;
}

.main-footer {
  display: block;
  min-height: 516px;
  background: #f5f5f5;
  border-top: 1px solid #ccc;
}

.main-footer__wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 35px 0 0 0;
  background-color: #f5f5f5;
}

.main-footer .main-footer__col {
  display: inline-block;
  vertical-align: top;
}

.main-footer__col.region {
  outline: none;
}

.main-footer__col.about {
  width: 187px;
  box-sizing: border-box;
  margin-right: 60px;
}

.main-footer__col.discover {
  width: 187px;
  box-sizing: border-box;
  margin-right: 60px;
}

.main-footer__col.business-owners {
  width: 187px;
  margin-right: 60px;
}

.main-footer__col.region {
  max-width: 92px;
}

.main-footer__col.region select {
  font-size: 14px;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  color: #0073bb;
}

.main-footer__col.region select:hover {
  cursor: pointer;
}

.main-footer__col.region option {
  color: #0073bb;
}

.main-footer__heading {
  display: block;
  font-size: 16px;
  line-height: 1.1em;
  color: #d32323;
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;
  user-select: none;
}

.main-footer .main-footer__col a {
  display: block;
  line-height: 1.1em;
  font-size: 14px;
  margin-bottom: 10px;
  color: #0073bb;
  text-decoration: none;
  user-select: none;
}

.main-footer .main-footer__col a:hover {
  text-decoration: underline;
}

.footer-list {
  margin: 0;
  padding: 0;
}

.footer-list .footer-list-item {
  margin: 0;
  padding: 0;
}


.copyright {
  display: block;
  width: 960px;
  margin: 0 auto;
}

.copyright__img {
  width: 648px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.copyright__text {
  width: 550px;
  font-size: 12px;
  color: #666;
  margin: 0 auto;
  line-height: 1.1em;
}

.field.request {
  position: relative;
  display: inline-block;
  width: inherit;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.field.location {
  position: relative;
  display: inline-block;
  width: inherit;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: 0;
  border-radius: 0;
}

.search{
  display:flex;
  justify-content: center;
  position: absolute;
  top: 80%;
}

.search-button {
  display: inline-block;
  width: 63px;
  height: 23px;
  box-sizing: border-box;
  background-color: #D32323;
  background-image: url(https://s26.postimg.org/v8mlp8w49/search.png);
  background-repeat: no-repeat;
  background-position: 17px 8px;
  color: #fff;
  font-size: 0;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
  
}


#home{
  display: inline-block;
}

a:visited {
  color:white;
}